/*	Mozilla appearance	*/

/*******************************
* {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
}
********************************/

/* Font */

body {
	font-family: Arial, sans-serif;
}

/* Main */

main * {
	display: block;
	margin: auto;
}

/* Nav bar */

nav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: right;
}

nav li {
	display: inline;
}

/* Footer */

footer ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

footer * {
	margin: auto;
}

footer {
	flex-wrap: wrap;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

footer li {
	margin-left: 10px;
	margin-right: 10px;
}

footer > div > ul {
	display: flex;
}