/*	Mozilla appearance	*/

/*******************************
* {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
}
********************************/
/*////////////////////////////////////*/

/*////////////////////////////////////*/
/* Global */

body {
	font-family: Arial, sans-serif;
	font-size: 14px;
}

a {
	text-decoration: none;
	color: rgba(0,0,0,.87);
}

/* Nav bar */

nav {
	margin-top: 24px;
	margin-bottom: 32px;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: right;
}

nav li {
	display: inline;
	margin: 0px 6px;
}

#appbox {
	display: inline-block;
	position: relative;
	top: 7px;
}

#appbox-container {
	width: 24px;
	height: 24px;
}

#btn-signin {
	background: rgb(26,115,232);
	color: #fff;
	border-radius: 4px;
	
	padding: 9px 23px;
}

/* Main */

main {
	display: flex;
	flex-direction: column;
}

main * {
	display: block;
	margin: auto;
}

/* Main - Search Bar */

#search-box {
	background-color: #0a0;
	
	
}

#search-input {
	background-color: #00a;
	
	
}

#button-container {
	display: flex;
	justify-content: center;
}

.main-buttons {
	margin: 10px;
}

/* Footer */

footer {
	flex-wrap: wrap;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	
	background-color: rgba(0,0,0,.09);
}

footer * {
	margin: auto;
}

footer div {
	display: flex;
}

.footer-item {
	display: block;
	padding: 15px;
}